{% extends "wallet/base.html" %}

{% block page_content %}
    <a href="{% url 'income_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Income</span></a>
    <a href="{% url 'outcome_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Outcome</span></a>
    <a href="{% url 'transaction_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Transaction</span></a>
    <h1>All categories</h1>
    <div>
        <table>
            <tr>
                {% for category in categories %}
                    <td>
                        <h1><a href="{% url 'category_edit' pk=category.pk %}">{{ category.name }}</a></h1>
                        <p>Balance: {{ category.get_monthly_outcome }}</p>
                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div>
        <h1><a href="{% url 'category_new' %}">New category</a></h1>
    </div>
    <a href="{% url 'category_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Category</span></a>
{% endblock %}
