{% extends "wallet/base.html" %}

{%  block show_balance %}
    <p>Balance: {{  balance|safe }}   </p>
{% endblock %}

{% block accounts_list %}
    <a href="{% url 'income_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Income</span></a>
    <a href="{% url 'outcome_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Outcome</span></a>
    <a href="{% url 'transaction_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Transaction</span></a>
    <h1>All my accounts</h1>
    <div>
        <table>
            <tr>
                {% for account in accounts %}
                    <td>
                        <h1><a href="{% url 'account_edit' pk=account.pk %}">{{ account.name }}</a></h1>
                        <p>Balance: {{ account.balance }}</p>
                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div>
        <a href="{% url 'account_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Account</span></a>
    </div>
{% endblock %}

{% block categories_list %}
    <h1>All categories</h1>
    <div>
        <table>
            <tr>
                {% for category in categories %}
                    <td>
                        <h1><a href="{% url 'category_edit' pk=category.pk %}">{{ category.name }}</a></h1>
                        <p>Balance: {{ category.get_monthly_outcome }}</p>
                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <a href="{% url 'category_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Category</span></a>
{% endblock %}